CHANGELOG.md
staticfiles/
.env
demo.sqlite3
.venv/
__pycache__/
*.pyc
.DS_Store
*.map
.env

projects/static/projects/css/bootstrap-*
projects/static/projects/css/bootstrap.css
projects/static/projects/css/bootstrap.rtl*
projects/static/projects/js/bootstrap.bundle.js
projects/static/projects/js/bootstrap.esm*
projects/static/projects/js/bootstrap.js
projects/static/projects/js/bootstrap.min.js